<div class="card mb-5 float">
  <h5 class="card-header">Introduce los datos: </h5>
  <div class="card-body">
    <form (ngSubmit)="newCat(newCatForm.value)" [formGroup]="newCatForm">
      <input type="hidden" formControlName="id">
      <div class="card-text w-25 float-left mr-5">
        <label for="nombre"><strong>Nombre: </strong></label>
        <input type="text" formControlName="nombre" class="form-control">
      </div>
      <div class="card-text w-25 float-left mr-5">
        <label for="descripcion"><strong>Descripcion: </strong></label>
        <input type="text" formControlName="descripcion" class="form-control">
      </div>
      <div class="card-text w-25 float-left">
        <label for="url_img"><strong>Url Imagen: </strong></label>
        <input type="url" formControlName="url" class="form-control">
      </div>      
      <div class="card-text">
        <input type="submit" class="btn btn-outline-success float-right mt-4" [disabled]="!newCatForm.valid" [value]="(currentStatus == 1) ? 'Agregar' : 'Editar'">
      </div>
    </form>
  </div>
</div>

<div class="media border rounded m-5" *ngFor="let cat of cats">
  <img class="border border-info m-3 align-self-center" width="300px" height="200px" [src]="cat.data.url">
  <div class="media-body">
    <h5 class="mt-0">{{cat.data.nombre}}</h5>
    <p>{{cat.data.descripcion}}</p>
    <p class="mb-0 mt-5">
      <button class="btn btn-outline-warning mr-5 w-25" (click)="editCat(cat.id)">Editar</button>
      <button class="btn btn-outline-danger w-25" (click)="deleteCat(cat.id)">Eliminar</button>
    </p>
  </div>
</div>